* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

::-webkit-scrollbar {
    display: none;
}

header {
    display: flex;
    justify-content: center;
    padding: 15px 10px;
    background-color: #FFCB05;
    position: sticky;
    top: 0;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.logo p {
    font-size: 1.7rem;
    font-weight: 800;
    color: #2e5da3;
}

.background {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
    height: 120vh;
    background-color: #5e90db8a;
    padding: 20px 30px;
    padding: 0px 20%;
}

.background h1 {
    margin-top: 1.4rem;
    font-size: 2.3rem;
    text-align: center;
    padding: 5px;
    color: #FFCB05;
}

::placeholder {
        color: #FFCB05;
        opacity: 0.5;
    } 

.background input {
    font-size: 1.2rem;
    background-color: #2e5da3;
    border: 2px solid #FFCB05;
    padding: 7px 17px;
    border-radius: 5px;
    color: #FFCB05;
    font-weight: bold;
    width: 70%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.background input:focus {
    outline: none;
}

.barraPesquisa {
    display: flex;
    gap: 10px;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.background button {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: #FFCB05;
    font-size: 1.2rem;
    padding: 10px 17px;
    border: 2px solid #FFCB05;
    border-radius: 5px;
    color: #2e5da3;
    transition: 0.1s ease;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.background #pesquisar {
    margin-bottom: 2rem;
}

.background button:hover {
    cursor: pointer;
    background-color: #2e5da3;
    color: #FFCB05;
    transition: 0.1s ease;
}

#pesquisar {
    width: 100%;
}

#aleatorio {
    width: 30%;
    padding: 10px 17px;
    gap: 1rem;
    background-color: #2e5da3;
    font-size: 1.2rem;
    color: #FFCB05;
    border: 2px solid #FFCB05;
}

#aleatorio:hover {
    background-color: #FFCB05;
    font-size: 1.2rem;
    color: #2e5da3;
    border: 2px solid #FFCB05;
}

body {
    background-color: #2e5da3;
    background: repeating-linear-gradient(45deg, #25549c 0, #25549c 26px, #2e5da3 26px, #2e5da3 52px);
    margin: 0 auto;
}

#resultado {
    display: flex;
    justify-content: space-between;
    background-color: #2e5da3;
    padding: 20px;
    border: 2px solid #FFCB05;
    border-radius: 7px;
    height: fit-content;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.dados {
    width: 50%;
}

.imagem {
    background-color: #4474bc;
    border: 2px solid #FFCB05;
    border-bottom: 10px solid #FFCB05;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
}

.imagem img {
    width: 100%;
    height: 100%;
}

#resultado h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #FFCB05;
}

#resultado p {
    color: white;
    font-size: 1.5rem;
}

#resultado .id {
    font-size: 1.3rem;
    color: #FFCB05;
    margin-bottom: 1.5rem;
}

#resultado #aviso {
    height: 100%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #FFCB05;
}